.rspress-nav {
    background-color: transparent;
}

.rspress-doc-footer {
    display: none;
}

.rspress-home-feature-title {
    font-size: xx-large;
}

.rspress-home-feature-card {
    padding: 1em;
}
